<h1> Record a Training Session </h1>

<%= form_for @training do |f| %>

<%=f.label :date %>
<%= f.date_field :date %>

<%=f.label :feeling %>
<%= f.text_field :feeling %>

<%=f.label :race_id %>
<%= f.collection_select :race_id, current_user.races, :id, :title %>

<%= f.submit "Record Training" %>


<% end %>
